

.img-error{
    width: 50%;
   position: relative;
}

.container-error{
    background-color: #581845;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.h1-error {
color: white;
font-size: 100%;
}

.button-error{
    padding: 15px 30px;
    border-radius: 15px;
    border: none;

}
.button-error:hover{
    background-color: #00a9ec;
    color: white;
    transform: scale(1.1);
}

.button-error:active{
    transform: scale(1.2);
}